doctype html
html
  head
    title="account main site"
  body(width="800px",margin="50px 75px",font-family="Helvetica sans-serif")
    div.welcome
      h3.recipe Please be welcome in our kitchen. Do not hesitate to leave your recipes here and share it with other fans of good meals.
      img.image(src="https://cdn.stocksnap.io/img-thumbs/960w/RDUYGQAMBL.jpg" width="80%")
